{% extends 'principal/principal.html' %}
{% load static %}

{% block title %}
Perfil de {{ usuario_perfil.username }}
{% endblock %}

{% block content %}

<div class="perfil-container">

    <div class="perfil-header">
        <div class="perfil-avatar">
            {% if usuario_perfil.foto %}
                <img src="{{ usuario_perfil.foto.url }}" alt="Foto de perfil">
            {% else %}
                {{ usuario_perfil.username|slice:":1"|upper }}
            {% endif %}
        </div>

        <div class="perfil-info">
            <h1>
                {{ usuario_perfil.name|default:usuario_perfil.username }}
            </h1>

            <p>
                @{{ usuario_perfil.username }}
                <p class="perfil-data">
                    Perfil criado em {{ usuario_perfil.date_joined|date:"d/m/Y" }}
                </p>
            </p>
        </div>
    </div>

    <hr>

    <h2 class="perfil-subtitle">
        Buracos cadastrados
    </h2>

    <div class="feed-container">

        <div class="explorar-grid perfil-grid">
    {% for buraco in buracos %}
            <a 
                href="{% url 'detalheBuracoView' buraco.id %}" 
                class="explorar-item" 
                data-index="{{ forloop.counter0 }}"
                data-titulo="{{ buraco.titulo }}"
                data-descricao="{{ buraco.descricao }}"
                data-likes="{{ buraco.likes.count }}"
                data-comentarios="{{ buraco.comentarios.count }}"
            >
            <img src="{% static 'image-users/' %}{{ buraco.url_imagem }}" alt="{{ buraco.titulo }}">

            <div class="explorar-overlay">
                <span> Ver postagem</span>
            </div>
        </a>
    {% empty %}
        <p class="empty-feed">Esse usuário ainda não cadastrou buracos.</p>
    {% endfor %}
</div>

    </div>

</div>

<div id="modalPost" class="modal-post oculto">

    <div class="modal-overlay"></div>

    <button id="fecharModal" class="fechar-modal">
        ✕
    </button>

    <button id="anteriorPost" class="seta-modal esquerda">
        ❮
    </button>

    <div class="modal-conteudo modal-postagem-detalhe">

    <div class="modal-area-imagem">
        <img id="modalImagem" src="" alt="Imagem">
    </div>

    <div class="modal-area-info">
        <h2 id="modalTitulo"></h2>
        <p id="modalDescricao"></p>

        <div class="modal-stats">
            <span id="modalLikes"></span>
            <span id="modalComentarios"></span>
        </div>
    </div>

</div>

    <button id="proximoPost" class="seta-modal direita">
        ❯
    </button>

</div>

<script>
const posts = document.querySelectorAll('.explorar-item');

if (posts.length > 0) {
    const modal = document.getElementById('modalPost');
    const modalImg = document.getElementById('modalImagem');

    const fechar = document.getElementById('fecharModal');
    const overlay = document.querySelector('.modal-overlay');

    const btnAnterior = document.getElementById('anteriorPost');
    const btnProximo = document.getElementById('proximoPost');

    let indexAtual = 0;

    function abrirModal(index) {
    document.getElementById('modalDescricao').innerText = posts[index].dataset.descricao;
    document.getElementById('modalLikes').innerText = `❤️ ${posts[index].dataset.likes}`;
    document.getElementById('modalComentarios').innerText = `💬 ${posts[index].dataset.comentarios}`;
    indexAtual = index;

    const img = posts[index].querySelector('img');
    modalImg.src = img.src;

    if (indexAtual === 0) {
        btnAnterior.style.display = 'none';
    } else {
        btnAnterior.style.display = 'flex';
    }

    if (indexAtual === posts.length - 1) {
        btnProximo.style.display = 'none';
    } else {
        btnProximo.style.display = 'flex';
    }

    modal.classList.remove('oculto');
}

    posts.forEach((post, index) => {
        post.addEventListener('click', function(e) {
            e.preventDefault();
            abrirModal(index);
        });
    });

    fechar.addEventListener('click', () => {
        modal.classList.add('oculto');
    });

    overlay.addEventListener('click', () => {
        modal.classList.add('oculto');
    });

    btnProximo.addEventListener('click', () => {
    if (indexAtual < posts.length - 1) {
        abrirModal(indexAtual + 1);
    }
    });
    btnAnterior.addEventListener('click', () => {
    if (indexAtual > 0) {
        abrirModal(indexAtual - 1);
    }
    });
}
</script>

{% endblock %}